* {
  box-sizing: border-box;
}
:root {
  --font-tieude: "Sen", sans-serif;
  --mau-chu-dao: rgba(255, 185, 0, 1);
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* bỏ gạch chân */
a {
      text-decoration: none;}
  .heading-lv2{
font-family: var(--font-tieude);
font-weight: 700;
color: rgba(23, 17, 0, 1);
font-size: 3.8rem;
line-height: 1.26;
letter-spacing: -0.76px;

  }

.btn {
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
  background: #171100;
  border-radius: 2.45rem;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
/*================ header =============*/
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
/* ============hearder============ */
.header {
  background: #ded6d6;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}
ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  position: relative;
  color: #5f5b53;
  /* text-align: center; */
  /* font-family: Poppins; */
  font-size: 1, 6rem;
  /* font-style: normal; */
  /* font-weight: 400px; */
  /* line-height: 28px; 175% */
  /* background-color: red; */
  padding: 8px 21px;
}
.nav li.action a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.nav li.action a::after {
  right: 57px;
  top: 27px;
  position: absolute;
  display: inline-block;
  content: "";
  width: 11px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.btn {
  display: inline-block;
  white-space: 118px;
  padding: 0 15px;
  line-height: 40px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
  background: #171100;
  border-radius: 2.45rem;
}
.header .action {
  margin-left: 48px;
}
.hero {
  padding: 56px 0 65px;
  background: rgba(255, 252, 244, 1);
}
.hero .body {
  display: flex;
}
/* =======hero left========= */
.hero .dung-content {
  position: relative;
  width: 49%;
  padding
}

.hero .dung-content .img {
  width: 470px;
  height: 685px;
  object-position: cover;
  border-radius: 20px;
}
.hero .heo-sumari {
  padding: 24px;
  width: 270px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.hero .heo-sumari .item {
  display: flex;
}
.hero .heo-sumari .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .heo-sumari .icon1 {
  background: rgba(255, 249, 232, 1);
}
.hero .heo-sumari .icon2 {
  background: rgba(252, 239, 255, 1);
}
.hero .heo-sumari .icon3 {
  background: rgba(240, 253, 255, 1);
}
.hero .heo-sumari .info {
  margin-left: 16px;
}
.hero .heo-sumari .table {
  font-size: 1.4rem;

  line-height: 186%;
  color: rgba(95, 91, 83, 1);
}
.hero .heo-sumari .vanban {
  font-size: 18px;
  line-height: 30px;
  color: rgba(23, 17, 0, 1);
  font-weight: 600;
}
.hero .heo-sumari .item + .item {
  margin-top: 22px;
  align-items: center;
}
.hero .nhan-dung {
  width: 51%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .tieude {
  font-family: var(--font-tieude);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -1, 16px;
}
.hero .desc {
  color: rgba(95, 91, 83, 1);
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 1.67;
}
.hero .lamnutnhan {
  margin-top: 38px;
}
.hero .btn-dungxamtro {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--mau-chu-dao);
}
.lamnutnhan {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc để hai nút không bị lệch cao thấp */
  gap: 20px;
  border-radius: 36px;
}
.nhan-dung .watch-vid {
  border: none;
  background: transparent;
}
.hero .desc-ca strong {
  font-family: var(--font-tieude);
  font-weight: 700;
  margin-right: 15px;
  font-size: 4.4rem;

  line-height: 1.23;
}
.hero .desc-ca strong:nth-child(2) {
  margin-left: 28px;
}
.hero .desc-ca {
  margin-top: 8px;
}
.popular{
  padding: 65px;
  /* background-color: blue; */
  margin-top: 135px;
}
.popular .desc{
color: rgba(95, 91, 83, 1);
font-style: Regular;
font-size: 1.8 rem;
line-height: 1.67;
width: 485px;
}
.pupolar-top{
  display:flex;
  justify-content:space-between;
}

.popular .control{
  display: flex;
  gap: 18px;
  align-items: center;

}
.popular .control-btn{
  color: var(--mau-chu-dao);
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 40px;
height: 40px;
border-radius: 50%;
 border: 1px solid var(--mau-chu-dao);
}
.popular .control-btn:hover{
  background-color: var(--mau-chu-dao);
  color:#fff;
  cursor: pointer;
}