* {
  box-sizing: border-box;
}
:root {
  --font-tieude: "Sen", sans-serif;
  --mau-chu-dao: rgba(255, 185, 0, 1);
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* bỏ gạch chân */
a {
      text-decoration: none;}
  .heading-lv2{
font-family: var(--font-tieude);
font-weight: 700;
color: rgba(23, 17, 0, 1);
font-size: 3.8rem;
line-height: 1.26;
letter-spacing: -0.76px;

  }

.btn {
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
  background: #171100;
  border-radius: 2.45rem;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
/*================ header =============*/
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
/* ============hearder============ */
.header {
  background: #ded6d6;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}
ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  position: relative;
  color: #5f5b53;
  /* text-align: center; */
  /* font-family: Poppins; */
  font-size: 1, 6rem;
  /* font-style: normal; */
  /* font-weight: 400px; */
  /* line-height: 28px; 175% */
  /* background-color: red; */
  padding: 8px 21px;
}
.nav li.action a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.nav li.action a::after {
  right: 57px;
  top: 27px;
  position: absolute;
  display: inline-block;
  content: "";
  width: 11px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.btn {
  display: inline-block;
  white-space: 118px;
  padding: 0 15px;
  line-height: 40px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
  background: #171100;
  border-radius: 2.45rem;
}
.header .action {
  margin-left: 48px;
}
.hero {
  padding: 56px 0 65px;
  background: rgba(255, 252, 244, 1);
}
.hero .body {
  display: flex;
}
/* =======hero left========= */
.hero .dung-content {
  position: relative;
  width: 49%;
  padding
}

.hero .dung-content .img {
  width: 470px;
  height: 685px;
  object-position: cover;
  border-radius: 20px;
}
.hero .heo-sumari {
  padding: 24px;
  width: 270px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.hero .heo-sumari .item {
  display: flex;
}
.hero .heo-sumari .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .heo-sumari .icon1 {
  background: rgba(255, 249, 232, 1);
}
.hero .heo-sumari .icon2 {
  background: rgba(252, 239, 255, 1);
}
.hero .heo-sumari .icon3 {
  background: rgba(240, 253, 255, 1);
}
.hero .heo-sumari .info {
  margin-left: 16px;
}
.hero .heo-sumari .table {
  font-size: 1.4rem;

  line-height: 186%;
  color: rgba(95, 91, 83, 1);
}
.hero .heo-sumari .vanban {
  font-size: 18px;
  line-height: 30px;
  color: rgba(23, 17, 0, 1);
  font-weight: 600;
}
.hero .heo-sumari .item + .item {
  margin-top: 22px;
  align-items: center;
}
.hero .nhan-dung {
  width: 51%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .tieude {
  font-family: var(--font-tieude);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -1, 16px;
}
.hero .desc {
  color: rgba(95, 91, 83, 1);
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 1.67;
}
.hero .lamnutnhan {
  margin-top: 38px;
}
.hero .btn-dungxamtro {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--mau-chu-dao);
}
.lamnutnhan {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc để hai nút không bị lệch cao thấp */
  gap: 20px;
  border-radius: 36px;
}
.nhan-dung .watch-vid {
  border: none;
  background: transparent;
}
.hero .desc-ca strong {
  font-family: var(--font-tieude);
  font-weight: 700;
  margin-right: 15px;
  font-size: 4.4rem;

  line-height: 1.23;
}
.hero .desc-ca strong:nth-child(2) {
  margin-left: 28px;
}
.hero .desc-ca {
  margin-top: 8px;
}
.popular{
  padding: 65px;
  /* background-color: blue; */
  margin-top: 135px;
}
.popular .desc{
color: rgba(95, 91, 83, 1);
font-style: Regular;
font-size: 1.8 rem;
line-height: 1.67;
width: 485px;
}
.pupolar-top{
  display:flex;
  justify-content:space-between;
}

.popular .control{
  display: flex;
  gap: 18px;
  align-items: center;
  margin-right: 190px;
  
}
.popular .control-btn{
  color: var(--mau-chu-dao);
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 40px;
height: 40px;
border-radius: 50%;
 border: 1px solid var(--mau-chu-dao);
}
.popular .control-btn:hover{
  background-color: var(--mau-chu-dao);
  color:#fff;
  cursor: pointer;
}
.popular .heading-lv2{
  margin-bottom: 10px;
}
.popular .course-list{

  display:flex;
  gap: 30px;
  margin-top: 55px;
  width:100%;
height: 466px;
border-radius: 12px;


}
.popular .course-item .thumb{

height: 278px;
border-top-left-radius: 12px;
border-top-right-radius: 12px;

  width: 100%;
}
.popular .dung07 {
  padding:20px;
}
.popular .head{
  display:flex;
  justify-content: space-between;
}

.popular .course-item .desc{
 margin-top: 10px;
}
.popular .foot{
  display:flex;
  justify-content: space-between;
}
.popular .foot .price{
  display:flex;
  align-items: center;
}
.popular .course-item{
border: 1px solid rgba(226, 223, 218, 1);
background: #fff;
border-radius: 12px;
}
.popular .course-item:hover{
  border: 1px solid transparent;
box-shadow:0px 18px 36px 0px rgba(0, 0, 0, 0.05);
background: #fff;
border-radius: 12px;
}
.popular .price{
  font-family: Poppins;
font-weight: 600;
font-style: SemiBold;
font-size: 18px;
leading-trim: NONE;
line-height: 30px;
letter-spacing: 0%;

}


.popular .btn{
  background: #0c0000;
}
.popular .btn:hover{
  background: var(--mau-chu-dao);


}
.btn:hover{
  cursor: pointer;
}

.popular .course-list{
 margin-left:50px;

}   .popular .pupolar-top {
  margin-left: 50px;
  margin-top: 250px;
}
/* ========.feedback======== */
.feedback{
  margin-top: 135px;
  padding:96px 0;
  background-color: rgba(46, 33, 0, 1);
}
.feedback-list{
  display: flex;
    overflow:hidden;
}
.feedback-items{
  display:flex;
  flex-shrink: 0;

}
.feedback .feedback-items{
justify-content: space-between;
  display:flex;
  width: 100%;
height: 180px;
top: 1945px;
opacity: 1;

}
.feedback-items .avatar{
  width: 72px;
height: 72px;
top: 2041px;
left: 135px;
border-radius:50%;
object-fit:cover;


}
.feedback-items .desc-name{
  font-family: var(--font-tieude);
font-weight: 700;
font-style: Bold;
font-size: 24px;
color:#fff;
line-height: 34px;
letter-spacing: 0%;

}
.feedback-items .desc-vanban{
  font-family: var(--font-tieude);
font-weight: 400px;
font-size: 14px;
line-height: 26px;
color:rgba(191, 188, 178, 1);
margin-top: 4px;

}
.feedback-items .dots{
  cursor: pointer;
  display:flex;
  margin-top: 28px;
  gap:5px;
}
.feedback .info{
  width: 170px;
height: 188px;
top: 2041px;
left: 135px;

}
.feedback blockquote{
font-style: Italic;
font-size: 2.6REM;
line-height:1.54;

 

}
.feedback .content{
  width: 66%;
}
.feedback-items .open-qoutes{
  width: 29.999998092651367px;
height: 28px;
top: 2041px;
left: 535px;
angle: -180 deg;
opacity: 1;
color:rgba(99, 71, 0, 1)
}
 .feedback-items blockquote{
  margin-left: 25px;
  COLOR:rgb(251, 251, 250)
 }
 .Features .images{
  display:flex;
  width: 570px;
height: 438px;
border-radius: 16px;
gap:20px;

 }
 .Features{
  width: 1170px;
height: 438px;
margin-top: 200px;
 }
 .Features .images .nam1{
  margin-top: 20px;
  width: 270px;
height: 404px;
border-radius: 16px;
}
 .Features .images .nam2{
  width: 270PX;
height: 404px;
border-radius: 16px;
margin-bottom: 20px;

 }
 .Features .main-content .body{
   display:flex;
   width: 1170px;
margin-left: 400px;
   
 }
 
 .Features .main-content .content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 50%;
height: 438px;
border-radius: 26px;
margin-left: 128px;
 }
.Features .main-content{
  width: 100%;
height: 438px;
}
.Features .main-content .content .heading-lv2{
  font-family: var(--font-tieude);
font-weight: 700;
font-style: Bold;
font-size: 38px;
line-height: 48px;
color:rgba(95, 91, 83, 1);
}
.Features .main-content .content .desc{
  margin-top: 20px;
font-weight: 400;
font-style: Regular;
font-size: 16px;
color:rgba(95, 91, 83, 1);
line-height: 28px;
font-family: var(--font-tieude);

}
.Features .main-content .content .desc2{
    margin-top: 20px;
font-weight: 400;
font-style: Regular;
font-size: 16px;
color:rgba(95, 91, 83, 1);
line-height: 28px;
font-family: var(--font-tieude);

}
.Features .main-content .content .btn{
width: 137px;
height: 50px;
border-radius: 26px;
margin-top: 40px;
background: var(--mau-chu-dao);
display:flex;
align-items: center;
justify-content: center;

}

.Features2 .main-content  .body{
  margin-top: 200px;
  width: 1170px;
height: 440px;
display:flex;
justify-content: space-between;
}
.Features2 .main-content .body .nam22 {
width: 470px;
height: 440px;
border-radius: 20px;

}
.Features2 .main-content .body .content{
  display: flex;
  flex-direction: column;
  width: 49%;
  justify-content: center;
}
.Features2 .main-content .body .images{
  width: 40%;
}
.Features2 .main-content .body .content .heading-lv2{
  font-family:var(--font-tieude);
font-weight: 700;
font-style: Bold;
font-size: 3.8rem;
line-height: 48px;
color:rgba(23, 17, 0, 1);
}
.Features2 .main-content .body .content .desc{
  margin-top: 20px;
font-weight: 400;
font-style: Regular;
font-size: 1.6rem;
line-height: 28px;
color:rgba(95, 91, 83, 1);
}
.Features2 .main-content .body .content .btn{
  width: 137px;
height: 50px;
border-radius: 26px;
display: flex;
align-items: center;
justify-content: center;
margin-top: 20px;
}
.Features2 .main-content .body .content .btn:hover{
  background-color: var(--mau-chu-dao);
  
}
/* =====blog======= */
.blog{
  margin-top: 200px;
    padding: 96px 0;
    background-color: rgba(255, 252, 244, 1);
}
.blog .blog-top{  
  margin-left: 142px;
  width: 1028px;
height: 120px;
text-align: center;
}
.blog .blog-top .dong1{ 
  width: 1028px;
height: 48px;
font-family: var(--font-tieude);
font-weight: 700;
font-style: Bold;
font-size: 38px;
}
.blog .blog-top .dong2{
  width: 448px;
height: 56px;
font-family: var(--font-tieude);
font-style: Regular;
font-size: 16px;
line-height: 38px;
margin:0 auto;
color:rgba(105, 98, 98, 1)
}
.blog .blog-list{
  gap:30px;
  margin-top: 50px; 
display:flex;
}
.blog .blog-list .thumb{
  width: 370px;
height: 250px;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
object-fit: cover;
}
.blog .blog-list .item{

  width: 370px;
height: 467px;
border-radius: 16px;
background-color: rgba(255, 255, 255, 1);
  display:flex;
  flex-direction: column;
}
.blog .blog-list .item .btn{
  width: 118px;
height: 50px;
border-radius: 25px;
}
.blog .blog-list .date{
  padding-bottom: 12px;
  position:relative;
  display:flex;
  align-items: center;
font-family:var(--font-tieude);
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 26px;
color: rgba(95, 91, 83, 1);
}.blog .blog-list{
}
.blog .blog-list .title{
  width: 330;
height: 56;
font-family: var(--font-tieude);
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
line-height: 28px;
color: rgba(23, 17, 0, 1);
}
.blog .blog-list .duoianh{
  padding: 20px;
}
.blog .blog-list .btn:hover{
background-color: var(--mau-chu-dao);
}
.blog .blog-list .btn{
  margin-top: 20px;
}
.blog .blog-list .date::before{
  margin-right: 4px;
  content: "";
  display:inline-block;
  width: 6px;
height: 6px;
background: var(--mau-chu-dao);
border-radius:50%;
}
.blog .iconbo{
  width: 30px;
height: 6px;
display:flex;gap:5px;
margin-top: 38px;
margin-left: 1000px;
}
.blog .blog-list .date::after{
left:0;
bottom:0;
  position:absolute;
  content:"";
  display:inline-block;
  width: 160px;
height: 1px;
background: rgba(226, 223, 218, 1);
border-radius: 0.5px;

}
.blog .item:hover{
  box-shadow: 0px 16px 32px 0 rgba(0, 0, 0, 0.05);
}













   
